
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;


  ul {
    display: flex;
    width: 100%;

    li {
      position: relative;
      width: $buttonFooterSize;
      height: $buttonFooterSize;
      z-index: 1;
      cursor: pointer;

      .button-nav {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;

        .icon {
          position: relative;
          display: block;
          line-height: $buttonFooterSize;
          font-size: 1.5em;
          text-align: center;
          transition: 0.5s;
        }

        .text {
          position: absolute;
          font-weight: 400;
          font-size: .75em;
          letter-spacing: 0.05em;
          transition: 0.5s;
          opacity: 0;
          transform: translateY(20px);
          color: $black_primary;
        }
      }

      &:hover {
        .button-nav {
          .icon {
            transform: translateY($traslateButtonFooter);
          }

          .text {
            opacity: 1;
            transform: translateY(10px);
          }
        }
      }
    }
  }
}

li.li--active {
  .button-nav {
    .icon {
      transform: translateY($traslateButtonFooter);
      color: $white !important;
    }

    .text {
      opacity: 1 !important;
      transform: translateY(10px) !important;
    }
  }
}

.indicator {
  position: absolute;
  top: -50%;
  width: $buttonFooterSize;
  height: $buttonFooterSize;
  background: $primary;
  border-radius: 50%;
  border: 6px solid $background;
  transition: 0.5s;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 $background;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 $background;
  }
}

.navigation ul li:nth-child(1).li--active ~ .indicator {
      transform: translateX(calc(60px * 0));
}

.navigation ul li:nth-child(2).li--active ~ .indicator {
      transform: translateX(calc(60px * 1));
}

.navigation ul li:nth-child(3).li--active ~ .indicator {
  transform: translateX(calc(60px * 2));
}


.navigation ul li:nth-child(4).li--active ~ .indicator {
  transform: translateX(calc(60px * 3));
}


.navigation ul li:nth-child(5).li--active ~ .indicator {
  transform: translateX(calc(60px * 4));
}



.button_content_perfil {
  border-top-right-radius: 30px;
}

.button_content_frecuentes {
  border-top-left-radius: 30px;
}