@import "./src/assets/styles/mixins.scss";

@import "UI/FooterStyles.scss";
@import "UI/HeaderStyles.scss";

.main_container {
  width: 100%;
  height: 100vh;
  background-color: $background;

  .header_container {
    width: 100%;
    height: 4rem;
    padding: .65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $primary;
    color: $white;
    @include box-shadow-toolbar;
  }

  .body_container {
    width: 100%;
    padding: 1rem;

    .tabs_container {
      .p-tabview {
        .p-tabview-nav-container {
          background: transparent !important;
          .p-tabview-nav-content {
            background: transparent !important;
            .p-tabview-nav {
              background: transparent !important;
              li {
                background: transparent !important;

                max-width: 110px;
                @include tablet {
                  max-width: none;
                }
                a {
                  //color: $secondary;
                  span {
                    font-size: 12px;
                    @include tablet {
                      font-size: 16px;
                    }
                  }
                }
              }
              li.p-highlight {
                border-bottom: 2px solid $primary;
                a {
                  //color: $white;
                }
              }
            }
            a {
              background: transparent !important;
            }
          }
        }
        .p-tabview-panels {
          overflow-y: auto;
          max-height: 380px !important;
          background: transparent !important;
          //padding: .5rem;
          .p-tabview-panel {
            display: grid;
            grid-template-columns: repeat(auto-fit, 120px);
            grid-gap: 1rem;
            @include tablet {
              grid-template-columns: repeat(auto-fit, 250px);
            }
          }

        }
      }
    }
  }

  .footer_container {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3rem;
  }
}

.panel-home {
  overflow-y: auto;
  height: 380px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  grid-gap: 1rem;
  @include tablet {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}

.content_card {
  display: flex;
  flex-direction: column;
  .header_card {
    width: 100%;

    .home_number {
      @include box-shadow-tridementional;
      width: 60%;
      background: $border;
      padding: .2rem 1rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .body_card {
    background: $white;
    padding: .2rem .5rem;
    height: 80px;
    border-radius: 0 10px 10px 10px;
    @include box-shadow-tridementional;
    .number_house {
      width: 100%;
      font-size: 13px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-bottom: 5px;
    }

    .name {
      width: 100%;
      font-size: 11px;
      margin-bottom: 5px;
      .label {
        color: $black_secondary;
      }
      .description {
        color: $black_primary;
      }
    }
    .description {
      width: 100%;
      font-size: 11px;
      .label {
        color: $black_secondary;
      }
      .description {
        color: $black_primary;
      }
    }
  }
  .footer_card {
    width: 100%;
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: .7rem;
    .condo {
      font-size: 13px;
      color: $black_secondary;
      position: relative;
    }
  }
}

.content_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu_sidebar {
    height: 79vh;
  }
  .footer_sidebar {
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid $border;
  }
}

