@import "./src/assets/styles/mixins.scss";

@import "UI/FooterStyles.scss";
@import "UI/HeaderStyles.scss";
@import 'invitations/create/InvitationsStyles';
@import 'invitations/list/InvitationList';

.main_container {
  position: relative;
  background-color: $background;
  min-height: 100vh;

  .header_container {
    height: 4rem;
    padding: .65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $primary;
    color: $white;
    @include box-shadow-toolbar;
  }

  .body_container {
    padding: 1rem 1rem $buttonFooterSize;
    height: 85vh;

    .tabs_container {
      height: calc(90vh - 60px);
    }
  }

  .footer_container {
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: $buttonFooterSize;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    background: $white;
  }
}

.panel-home {
  overflow-y: auto;
  min-height: 200px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  grid-gap: 1rem;
  @include tablet {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}

.content_card {
  display: flex;
  flex-direction: column;
  .header_card {
    width: 100%;

    .home_number {
      @include box-shadow-tridementional;
      width: 60%;
      background: $border;
      padding: .2rem 1rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .body_card {
    background: $white;
    padding: .2rem .5rem;
    height: 90px;
    border-radius: 0 10px 10px 10px;
    @include box-shadow-tridementional;
    .number_house {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-bottom: 5px;
    }

    .name {
      width: 100%;
      font-size: 11px;
      margin-bottom: 5px;
      .label {
        color: $black_secondary;
      }
      .description {
        color: $black_primary;
      }
    }
    .description {
      width: 100%;
      font-size: 11px;
      .label {
        color: $black_secondary;
      }
      .description {
        color: $black_primary;
      }
    }
  }
  .footer_card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: .7rem;
    margin-top: -20px;
    .condo {
      font-size: 13px;
      color: $black_secondary;
      position: relative;
    }
  }
}

.content_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu_sidebar {
    height: 79vh;
  }
  .footer_sidebar {
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid $border;
  }
}


