@import './base/variables';

:export {
  colorPrimary: $primary;
  colorSecondary: $secondary;
  colorHelp: $help;
  colorInfo: $info;
  colorWarning: $warning;
  colorDanger: $danger;
  backgroundColor: $white;
  borderColor: $border;
}