@import './base/variables';

:export {
  colorPrimary: $primary;
  colorPrimaryDark: $secondary;
  colorSecondary: $secondary;
  colorSuccess: $success;
  colorHelp: $help;
  colorInfo: $info;
  colorWarning: $warning;
  colorDanger: $danger;
  backgroundColor: $white;
  borderColor: $border;
  blackPrimary: $black_primary;
  blackSecondary: $black_secondary;
}