

.invitations {
  width: 100%;
  @include box-shadow-tridementional;
  padding: .75rem;
  max-height: 72vh;
  overflow-y: auto;

  .invitations_cardContainer {
    overflow-y: auto;
    max-height: 60vh;
  }
}