@import "./src/assets/styles/mixins.scss";

.left {
  width: 20%;
  .menu {
    .button_content {
      .p-button {
        .p-button-icon {
          font-size: 1.3rem !important;
          color: $white;
        }
      }
    }
  }
}

.center {
  width: 60%;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;


  .p-avatar {
    background-color: $secondary;
    color: $white;
  }
}

.content_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  img {
    width: 90%;
  }
}